<launch>
<arg name="flip" default="false"/>
<node pkg="ar_recog" type="ar_compute_pose" name="ar_compute_pose" output="screen">
  <remap from="/camera/camera_info" to="/camera_front_right_down/camera_info"/>
  <remap from="/aqua/tags" to="/tags"/>
  <param name="tag_width" value="0.178"/>
</node>
</launch>
